* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(indigo, rgb(3, 255, 125));
}

.container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.virtual {
  grid-column: 1/5;
  height: 600px;

  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20%;
  background-color: rgb(16, 139, 246);
}

.result {
  grid-column: 5/9;
  height: 600px;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamer {
  grid-column: 9/13;
  height: 600px;

  background-color: rgb(255, 87, 3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20%;
}

button {
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  background-color: blueviolet;
  color: #fff;
}

button:hover {
  opacity: 0.7;
}

#image-virtual,
#image-gamer {
  height: 100px;
  width: 120px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
